@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --fonte-numero: 'Sometype Mono', monospace;
    --fonte-texto: "Poppins", sans-serif;

    /* modo escuro */
    --ME-cor-background: #000;
    --ME-cor-primeiro-plano: #363636;
    --ME-cor-texto-secundario: #A7A6A6;
    --ME-cor-texto-primario: #EEE;

    /* modo claro */
    --MC-cor-background: #FFF;
    --MC-cor-primeiro-plano: #FFF;
    --MC-cor-texto-secundario: #ACACAC;
    --MC-cor-texto-primario: #262626;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-primeiro-plano);
}

header{
    display: flex;
    gap: 1rem;
    background-color: var(--cor-background);
    color: var(--cor-texto-secundario);
}

a{
    text-decoration: none;
    color: var(--cor-texto-secundario);
    padding: 1rem 1rem 1rem 2rem;
}

footer{
    position: absolute;
	text-align: center;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
    padding: 1rem;
    background-color: var(--cor-background);

}

/* .main_tabela{
    display: flex;
    align-items: center;
} */

table{
    align-items: center;
    margin: auto;    
}

#desc{
    border: 2px;
    border-style: solid;
}
