spring.application.name=application
spring.datasource.url=jdbc:postgresql://localhost:5432/database
spring.datasource.username=username
spring.datasource.password=password

api.security.token.secret=${JWT_SECRET:my-secret-key}