@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--claro);
}

:root {
    /* Fontes */
    --fonte-numero: 'Sometype Mono', monospace;
    --fonte-texto: "Poppins", sans-serif;
    
    /* Cores */
    --cinza: #EEE;
    --claro: #F9F9F9;
    --escuro: #342E37;
    --azul: #086788;
    --ciano: #07A0C3;
    --preto: #000;
    --borda_tabela: #EAEDF2;
    --titulo-tabela: #F2F2F2;
}

/* NAVBAR */
.navbar {
    display: flex;
    background-color: var(--ciano);
    padding: 1.3rem 1.3rem 1.3rem 3rem;
    gap: 1.5rem
}

.navbar_link {
    text-decoration: none;
    color: var(--escuro);
    font-family: var(--fonte-texto);
    font-weight: 500;
}
/* NAVBAR */

/* MAIN */
.main {
    margin: 1rem;
    /*  display: flex;
    justify-content: center; */
}
/* MAIN */

/* TABELA */
.main_table, th, td{
    border: 2.5px solid var(--borda_tabela);
    text-align: left;
}

table {
    width: 50%;
}

.main_tabela {
    line-height: 1.5;
    border: 2px solid var(--borda_tabela);
    border-collapse: collapse;
}

th {
    background-color: var(--titulo-tabela);
    padding: 0.75rem;
}

td{
    font-family: var(--fonte-texto);
    padding: 3px 1rem 3px;
}
/* TABELA */

.modal-add-time {
    position: absolute;
    background-color: gray;
    left: 73vh;
    top: 50vh;
}