@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --fonte-numero: 'Sometype Mono', monospace;
    --fonte-texto: "Poppins", sans-serif;

}
    /* Cores da página (somente DarkMode por enquanto) */
    /* --corBackground: #F9F9F9;
    --corPrimeiroPlano: #363636;
    --corTextoPrimario: #EEE;
    --corTextoSecundario: #A7A6A6;

body{
    margin: 0;
    padding: 0;
    background-color: var(--corBackground);
}

header{
    display: flex;
    gap: 1rem;
    background-color: var(--corPrimeiroPlano);
    color: var(--corTextoSecundario);
}

a{
    text-decoration: none;
    color: var(--corTextoSecundario);
    padding: 1rem 1rem 1rem 2rem;
}

footer{
    position: absolute;
	text-align: center;
	color: white;
	bottom: 0;
	left: 0;
	right: 0;
    padding: 1rem;
    background-color: var(--corBackground);
    
}

table{
    align-items: center;
    margin: auto;    
}

#desc{
    border: 2px;
    border-style: solid;
}

.po{
    color: aqua;
} */
